<div class='panel panel-primary'>
    <div class='panel-heading'>{{ pageTitle }}</div>
</div>

<div class='panel-body'>    
    <div class='table-responsive'>
        <table class='table' *ngIf='customers && customers.length'>
            <thead>
                <tr>                    
                    <th>Name</th>
                    <th>Birth Date</th>
                    <th>Email</th>                   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let customer of customers'>                    
                    <td><a [routerLink]="['/customers', customer.Id]">{{ customer.FirstName }}</a></td>
                    <td>{{customer.BirthDay}}</td>
                    <td>{{customer.Email}}</td>                                        
                </tr>
            </tbody>
        </table>
    </div>
</div>